<div
	class="menu"
	[ngClass]="{
		desktop: deviceManagerService.device === 'desktop',
		mobile: deviceManagerService.device === 'mobile'
	}"
>
	<ul
		class="navbar"
		*ngIf="deviceManagerService.device === 'desktop'; else isMobile"
	>
		<li
			(click)="navigateTo('/home')"
			[ngClass]="{ active: this.activeRoute === '/home' }"
			id="home"
		>
			Accueil
		</li>
		<li
			(click)="navigateTo('/news')"
			[ngClass]="{ active: this.activeRoute === '/news' }"
			id="news"
		>
			Actus
		</li>
		<li
			(click)="navigateTo('/galery')"
			[ngClass]="{ active: this.activeRoute === '/galery' }"
			id="galery"
		>
			Galerie
		</li>
		<li
			(click)="navigateTo('/about')"
			[ngClass]="{ active: this.activeRoute === '/about' }"
			id="about"
		>
			Bio
		</li>
		<li
			(click)="navigateTo('/contact')"
			[ngClass]="{ active: this.activeRoute === '/contact' }"
			id="contact"
		>
			Contact
		</li>
	</ul>
	<ng-template #isMobile>
		<h1 class="title">{{ titlePage }}</h1>
		<button class="burger-menu-button" (click)="openBurger()">
			<div class="line" id="upper-line"></div>
			<div class="line" id="x-line"></div>
			<div class="line" id="lower-line"></div>
		</button>
		<app-burger-modal
			(closeMenuEvent)="closeBurgerMenu($event)"
			[ngClass]="{
				'burger-modal-displayed': isShownBurger,
				'burger-modal-disabled': !isShownBurger
			}"
		></app-burger-modal>
	</ng-template>
</div>
