.menu {
	height: 4em;
	font-family: "Lemon Milk";
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 16px 0;

	&.desktop {
	}

	&.mobile {
		height: 5em;
		display: flex;
		flex-direction: row;
		align-items: center;

		h1 {
			margin-left: 32%;
		}
	}
}

.navbar {
	height: 3em;
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;
	padding: 0;
	margin: 0;
	place-items: center;

	li {
		cursor: pointer;
		width: 100%;
		text-align: center;
		color: white;
		-webkit-text-stroke: 1px #000;
		font-size: large;
		transition: all 0.2s ease-out;

		&.active {
			-webkit-text-stroke: unset;
			font-size: x-large;
			color: black;
			transition: all 0.2s ease-out;
		}
	}
}

.burger-menu-button {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 5em;
	width: 5em;
	margin-left: auto;
	margin-right: 2em;
	border-radius: 50%;
	border-width: 5px;
	z-index: 3;
	background-color: white;

	.line {
		height: 5px;
		width: 3em;
		background-color: black;
		border-radius: 5px;
		transition: all 0.2s;
		opacity: 1;

		&.upper-transform-close {
			width: 4em;
			transform: translateY(15px) rotate(-135deg);
			transition: all 0.5s;
		}

		&.lower-transform-close {
			width: 4em;
			transform: translateY(-15px) rotate(-135deg);
			transition: all 0.5s;
		}

		&.x-transform-close {
			width: 4em;
			transform: rotate(-45deg);
			transition: all 0.5s;
		}
	}
}

.burger-modal-displayed {
	opacity: 1;
	visibility: visible;
	// transition: opacity 0.5s;
}

.burger-modal-disabled {
	opacity: 0;
	visibility: hidden;
	// transition: opacity 0.5s, visibility 0s 0.5s;
}

@font-face {
	font-family: "Lemon Milk";
	src: url("../../../assets/font/lemon_milk/LEMONMILK-Medium.otf")
		format("opentype");
}
