.fake-img {
	width: 90%;
	height: 90%;
	align-self: center;

	#loading {
		visibility: visible;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 90%;

		.image-on-load {
			object-fit: contain;
			height: -webkit-fill-available;
			align-self: center;
			border-radius: 5px;
		}
	}
}

.image-detail {
	display: flex;
	flex-direction: column;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;

	.close-button {
		height: 4em;
		width: 4em;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		border-radius: 50%;
		transition: background-color 0.1s;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		top: 2em;
		right: 2em;
		z-index: 12;
		transition: background-color 0.1s;

		.close-div {
			display: flex;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.9);
			transition: background-color 0.5s;
		}
	}

	.image-item {
		width: 100%;
		height: 100%;
		flex-direction: column;
		display: flex;
		text-align-last: center;
		background-color: rgba(0, 0, 0, 0.9);
		font-family: "Lemon Milk";
		transition: height 2s;
		z-index: 11;
		justify-content: center;

		.arrow {
			height: 100%;
    		width: 50%;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			z-index: 10;
			cursor: pointer;

			&.left {
				left: 0;
				justify-content: left;
			}

			&.right {
				right: 0;
				justify-content: right;
			}

			.switch-icon {
				font-size: 4em;
				height: 1em;
				width: 4em;
			}
		}

		.content-img {
			display: flex;
			height: 100%;
			position: relative;
			overflow: hidden;
			width: 100%;
			text-align: center;
			justify-content: center;

			.img-selected {
				height: 100%;
				width: 100%;
				object-fit: contain;
				align-self: center;
			}

			.description {
				display: flex;
				height: 0%;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.72);
				color: #fff;
				transition: height 0.1s;

				.text {
					padding: 1em;
				}
			}
		}

		.content-img:hover .description {
			height: 50%;
			transition: height 0.3s;
		}
	}

	.list-img::-webkit-scrollbar {
		width: 0;
		height: 0;
		background: transparent;
	}
}
