<div [@inOutAnimation] class="image-detail">
	<div class="close-button" (click)="closeDetail()">
		<div class="close-div">
			<mat-icon>close</mat-icon>
		</div>
	</div>
	<div class="image-item" id="img-content">
		<div class="arrow left" (click)="nextImg('left')">
			<mat-icon class="switch-icon">chevron_left</mat-icon>
		</div>
		<div class="content-img">
			<img
				class="img-selected unloaded"
				[src]="selectedImg.link"
				(loaded)="imgLoaded()"
				id="img-popup"
			/>
			<div *ngIf="selectedImg.description" class="description">
				<span class="text">{{ selectedImg.description }}</span>
			</div>
		</div>
		<div class="arrow right" (click)="nextImg('right')">
			<mat-icon class="switch-icon">chevron_right</mat-icon>
		</div>
	</div>
</div>
