@use "@material/image-list/mdc-image-list";
@use "@material/image-list";

.my-masonry-image-list {
	@include image-list.masonry-columns(var(--nbOfLists));
	column-gap: 2px;

	.mdc-image-list__item {
		margin-bottom: 2px;
	}
}

#loading {
	visibility: visible;
	display: flex;
	justify-content: center;
	align-items: center;
}
